/*серый фон страницы*/

/*.container-fluid {*/
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/
/*}*/

/*.bg-0 { */
    /*background-color: #ffffff;*/
    /*color: #000000;*/
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
/*}*/


/*.bg-1 { */
    /*background-color: #f3f3f3;*/
    /*color: #ffffff;*/
/*}*/

/*.bg-2 { */
    /*background-color: #ffffff;*/
    /*color: #000000;*/
	/*padding-top: 2px;*/
	/*padding-bottom: 2px;*/
/*}*/

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 20px;
	display:none;
}

.form-elem {
	margin:5px;
}

.vresize {
	resize: vertical; 
}
