<!-- Modal Dialog -->
<!--
https://stackoverflow.com/questions/47619511/springthymeleaf-post-data-from-modal-form
https://blog.nazrulkabir.com/2018/04/dynamic-modal-with-spring-boot-and-thymeleaf/
-->

<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="addTicketModal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{label.action.add}">[[#{label.action.add}]]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <!--×-->
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${ticket}" th:action="@{/add}" method="post">

                    <div class="row form-group ">
                        <label for="ticketTheme" th:text="#{label.field.theme}">Theme</label>
                        <input class="form-control form-control-sm" type="text"
                               id="ticketTheme" th:field="*{theme}"
                               placeholder="Enter theme"/>
                    </div>

                    <div class="row form-group ">
                        <label for="ticketDescription" th:text="#{label.field.description}">Description</label>
                        <textarea class="form-control form-control-sm" id="ticketDescription"
                                  th:field="*{description}" placeholder="Enter description"
                                  rows="3">
                        </textarea>
                    </div>

                    <div class="row form-group">
                        <label for="servicesSelect" th:text="#{label.service}">Service </label>
                        <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                id="servicesSelect" th:field="*{service}">
                            <option th:each="dropDownItem : ${servicesList}"
                                    th:value="${dropDownItem.id}"
                                    th:text="${dropDownItem.name}"
                                    th:attr="data-tokens=${dropDownItem.name}"/>
                        </select>
                    </div>

                    <div class="row form-group">
                        <label for="categoriesSelect" th:text="#{label.category}">Category </label>
                        <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                id="categoriesSelect" th:field="*{service}">
                            <option th:each="dropDownItem : ${categoriesList}"
                                    th:value="${dropDownItem.id}"
                                    th:text="${dropDownItem.name}"
                                    th:attr="data-tokens=${dropDownItem.name}"/>
                        </select>
                    </div>

                    <div class="row form-group">
                        <label for="typesSelect" th:text="#{label.field.type}">Type: </label>
                        <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                id="typesSelect" th:field="*{ticketType}">
                            <!--<option th:text="#{label.select_choose}" value=""> Please Select</option>-->

                            <option th:each="typeItem : ${T(ua.helpdesk.entity.TicketType).values()}"
                                    th:attr="data-tokens=${typeItem.name}"
                                    th:text="#{${'label.field.type.' + typeItem.name}}"
                                    th:text="${typeItem}" th:value="${typeItem}"/>
                        </select>
                    </div>

                    <div class="row form-group">
                        <label for="prioritiesSelect" th:text="#{label.field.priority}">Priority: </label>
                        <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                id="prioritiesSelect" th:field="*{ticketPriority}">
                            <!--<option th:text="#{label.select_choose}" value=""> Please Select</option>-->

                            <option th:each="priorityItem : ${prioritiesList}"
                                    th:value="${priorityItem.id}"
                                    th:text="${priorityItem.name}"
                                    th:attr="data-tokens=${priorityItem.name}"/>
                        </select>
                    </div>

                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger btn-sm btn-action-md"
                                    data-dismiss="modal">
                                <i class="fa fa-times"></i><span th:text="#{label.action.cancel}"/>
                            </button>
                        </div>

                        <div class="col-sm-6">
                            <button id="confirm" type="submit"
                                    class="btn btn-success btn-sm btn-action-md custom-width float-right">
                                <i class="fa fa-check"></i><span th:text="#{label.action.confirm}"/>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Dialog show event handler -->
<script type="text/javascript">
    $('#confirmAction').on('show.bs.modal', function (e) {
        $message = $(e.relatedTarget).attr('data-action-info');
        $(this).find('.modal-body p.action_info').text($message);
        $title = $(e.relatedTarget).attr('data-title');
        $(this).find('.modal-title').text($title);

        // Pass form reference to modal for submission on yes/ok
        var form = $(e.relatedTarget).closest('form');
        $(this).find('.modal-footer #confirm').data('form', form);
    });

    <!-- Form confirm (yes/ok) handler, submits form -->
    $('#confirmAction').find('.modal-footer #confirm').on('click', function () {
        $(this).data('form').submit();
    });




</script>

<!-- From here: https://heera.it/bootstrap-3-delete-confirm-dialog -->