<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/helpdesk.css}">

        <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </div>
</head>
<body>
<!--<div th:fragment="header">-->
<!-- this is header -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-md-0" th:fragment="header">
    <a class="navbar-brand" href="#">HELPDESK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light"
                   data-toggle="dropdown" href="#" id="navbarDirectoriesDrop"
                   th:text="#{label.directory.directories}"> Directories </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/categories}"
                       th:text="#{label.category.categories}">Categories</a>
                    <a class="dropdown-item" th:href="@{/services}"
                       th:text="#{label.service.services}">Services</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#"
                   id="navbar_drop_admin" th:text="#{label.admin.administration}">Administration </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/users}"
                       th:text="#{label.user.users}">Users</a>
                </div>
            </li>

        </ul>
            <ul class="navbar-nav" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/login}" th:text="#{label.login.sign_in}">Sign in</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/users/viewCurrent}">
                        <i class="fa fa-user"></i>
                        <span th:text="#{label.user}">User</span>
                        "<span sec:authentication="name"></span>"
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/logout}" th:text="#{label.login.sign_out}">Logout</a>
                </li>

            </ul>
        </div>
    </nav>


<!--</div>-->

</body>
</html>