.page_container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-action {
    width: 100px;
}

.btn-action-md {
    width: 120px;
}

.btn-action-lg {
    width: 150px;
}

td .column-v-center {
    vertical-align: middle;
}

.action_info {
    font-size: 16px;
}

.page_container .alert {
    padding: 0;
}

.container_login_form {
    max-width: 350px;
    margin: 0 auto;
}